.popup {
    visibility: hidden;
    opacity: 0;
    /* transition: visibility 0s, all 0.5;  */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}