.popup__handlers {
    margin: 0;
    margin-top: 48px;
    padding: 0;
    border: 0;
    width: 358px;
    height: 50px;
    border-radius: 2px;
    overflow: hidden;
}

@media screen and (max-width: 1179px) {
    .popup__handlers {
        margin-top: 45px;
        width: 238px;
        height: 46px;
    }
}