.popup__input-container {
    margin: 0;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    border: 0;
}

@media screen and (max-width: 1179px) {
    .popup__input-container {
        margin-top: 34px;
    }
}