.footer {
    margin: 0 auto;
    padding: 67px 0 60px;
    width: 880px;
}

@media screen and (max-width: 1179px) {
    .footer {
        padding: 48px 0 36px;
        width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}